.warehouse_section {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.warehouse_section-title {
    font-size: 32px;
    line-height: 40px;
    text-align: left;
    margin-bottom: 60px;
}

.warehouse_section-components {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: center;
}
