.wallet_section {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.wrapper-wallet_section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.coins {
    position: relative;
    height: 20px;
    margin-bottom: 24px;
}

.wallet_section-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: left;
    margin-bottom: 60px;
}

.count_coins {
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    color: #a3b8cc;
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 44px;
}

.count_coins > span {
    font-weight: bold;
}

.block-change_coins {
    height: 24px;
}

.button-add_coin {
    border-bottom: 1px solid #ff7f2280;
    text-decoration: none;
    color: #ff7f2280;
    transition: 0.3s;
    margin-right: 27px;
}

.button-add_coin:hover {
    color: #ff5722;
    border-bottom: 1px solid #ff5722;
}

.button-add_coin:active {
    color: #ff7f22;
    border: none;
}

.button-add_coin:disabled {
    color: #4c5865;
    border: none;
}

.block-change_coins {
    display: flex;
    flex-direction: row;
}

.coin_checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.coin_checkbox {
    position: absolute;
    opacity: 0;

    & + label {
        display: flex;
        cursor: pointer;
    }
    & + label:before {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        border: 2px solid #a3b8cc;
        margin-right: 12px;
        background-repeat: no-repeat;
        background-position: center center;

        transition: 0.3s;
    }

    &:hover + label:before {
        border: 2px solid #4c5865;
    }

    &:checked + label:before {
        border: 2px solid #a3b8cc;
        background-image: url("./icons/ico_checked.svg");
    }

    &:disabled + label {
        color: #333940;
        cursor: auto;
    }

    &:disabled + label:before {
        border: 2px solid #333940;
    }
}

.modal {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 30px;
}

.wrapper-ico_coin {
    display: flex;
    flex-direction: row;
    width: 53px;
    height: 52px;
    margin-top: 15px;
}
.wrapper-titles {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.modal-title {
    font-size: 32px;
    line-height: 40px;
    color: #212529;
}

.modal-sub_title {
    font-size: 20px;
    line-height: 32px;
    font-weight: bold;
    color: #4c5865;
}

.close_modal {
    position: absolute;
    top: 16px;
    right: 20px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    transition: 0.5s;
}

.close_modal::before,
.close_modal::after {
    content: "";
    position: absolute;
    top: 10px;
    display: block;
    width: 16px;
    height: 2px;
    background: #ff7f22;
}

.close_modal::before {
    transform: rotate(45deg);
}

.close_modal::after {
    transform: rotate(-45deg);
}
