.button_stroke_orange {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 18px 12px 18px;
    border-radius: 60px;
    border: 2px solid #ff7f22;
    background-color: rgba(28, 28, 28, 0);
    cursor: pointer;

    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: white;

    transition: 0.3s;
}

.button_stroke_orange:hover {
    background-color: #ff5722;
    border: 2px solid #ff5722;
}

.button_stroke_orange:active {
    background-color: #ff7f22;
    border: 2px solid #ff7f22;
}

.button_stroke_orange:disabled {
    border: 2px solid #4c5865;
    color: #4c5865;
    pointer-events: none;
}
