.button-install_component {
    background-color: #ff7f22;
    padding: 12px 60px 12px 60px;
    border-radius: 60px;
    box-shadow: 0px 8px 10px 0px #00000029;
    cursor: pointer;

    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: white;

    transition: 0.3s;
}

.button-install_component:hover {
    background-color: #ff5722;
}

.button-install_component:active {
    background-color: #ff7f22;
}

.button-install_component:disabled {
    background-color: #4c5865;
    color: #7d90a6;
    pointer-events: none;
}
